[submodule "project/FCScoreClient"]
	path = project/FCScoreClient
	url = git@github.com:PyFlightCoach/FCScoreClient.git
[submodule "project/FCScoreServer"]
	path = project/FCScoreServer
	url = git@github.com:PyFlightCoach/FCScoreServer.git
